.ruka{
  cursor: pointer;
  font-weight: bold;
  color: #63122c;
}

.desno{
  text-align: right;
}

.sredina{
  text-align: center;
}

.siroko{
  width: 100%;
}

.akcije{
  margin-top: 20px;
}

.film {
  
  color: red !important; 
 
}
.dodajPozadina{
  background-color: #00c8ff;
}

.zanr {
  
  color: #00ff00 !important; /* Zelena boja za žanr */
}

.vrijeme-trajanja {
  color: #0000ff; /* Plava boja za vrijeme trajanja */
}
